{deps, [
{epgsql,".*",{git,"https://github.com/epgsql/epgsql","4.1.0"}},{ecpool,".*",{git,"https://github.com/emqx/ecpool","master"}},{clique,".*",{git,"https://github.com/emqx/clique",""}},{emqx_passwd,".*",{git,"https://github.com/emqx/emqx-passwd","emqx30"}}
]}.
{erl_opts, [debug_info,{parse_transform,lager_transform}]}.
