{deps, [
{epgsql,".*",{git,"https://github.com/epgsql/epgsql",{tag, "4.1.0"}}},
{ecpool,".*",{git,"https://github.com/emqx/ecpool",{tag, "v0.3.0"}}},
{clique,".*",{git,"https://github.com/emqx/clique",{tag, "v0.3.11"}}},
{emqx_passwd,".*",{git,"https://github.com/emqx/emqx-passwd",{tag, "v1.0"}}}
]}.
{erl_opts, [debug_info]}.
