{deps, [
    {epgsql, {git, "https://github.com/epgsql/epgsql", {tag, "4.1.0"}}},
    {ecpool, {git, "https://github.com/emqx/ecpool", {tag, "v0.4.1"}}},
    {clique, {git, "https://github.com/emqx/clique", {tag, "v0.3.11"}}},
    {emqx_passwd, {git, "https://github.com/emqx/emqx-passwd", {tag, "v1.0"}}}
]}.

{profiles,
    [{test, [
        {deps, [
                {emqx_ct_helper, {git, "https://github.com/emqx/emqx-ct-helper", {tag, "v1.1.1"}}},
                {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "v1.0.1"}}}
               ]}
    ]}
]}.

{erl_opts, [debug_info]}.
