[
  {epgsql, [
      {pools, [
          {pgauth, [
              {size, 2},
              {host, "localhost"},
              {port, 5432},
              {username,  ""},
              {password,  ""},
              {database,  "mqtt"},
              {encoding,  utf8}
          ]}
      ]}
  ]},

  {emqttd_plugin_pgsql, [
      {user_table, mqtt_users},
      %% plain, md5, sha
      {password_hash, plain}, %% Only for test
      {field_mapper, [
          {username, username},
          {password, password}
      ]}
  ]}
].

