name: Run test cases

on: [push, pull_request]

jobs:    
    run_test_cases:
        runs-on: ubuntu-latest
      
        steps:
            - name: install docker-compose
              run: | 
                sudo curl -L "https://github.com/docker/compose/releases/download/1.25.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
                sudo chmod +x /usr/local/bin/docker-compose
            - uses: actions/checkout@v1
            - name: run test cases
              run: |
                docker-compose -f ./docker-compose.yml -p tests up -d 
                docker exec -i $(docker ps -a -f name=tests_erlang_1 -q) sh -c "sed -i '/auth.pgsql.server/c auth.pgsql.server = pgsql_server:5432' /emqx_auth_pgsql/etc/emqx_auth_pgsql.conf"
                docker exec -i $(docker ps -a -f name=tests_erlang_1 -q) sh -c "echo auth.pgsql.password = public >> /emqx_auth_pgsql/etc/emqx_auth_pgsql.conf"
                # SSL
                docker exec -i $(docker ps -a -f name=tests_erlang_1 -q) sh -c "echo auth.pgsql.ssl_opts.keyfile = /emqx_auth_pgsql/test/emqx_auth_pgsql_SUITE_data/ca.pem >> /emqx_auth_pgsql/etc/emqx_auth_pgsql.conf"
                docker exec -i $(docker ps -a -f name=tests_erlang_1 -q) sh -c "echo auth.pgsql.ssl_opts.certfile = /emqx_auth_pgsql/test/emqx_auth_pgsql_SUITE_data/client-cert.pem >> /emqx_auth_pgsql/etc/emqx_auth_pgsql.conf"
                docker exec -i $(docker ps -a -f name=tests_erlang_1 -q) sh -c "echo auth.pgsql.ssl_opts.cacertfile = /emqx_auth_pgsql/test/emqx_auth_pgsql_SUITE_data/client-key.pem >> /emqx_auth_pgsql/etc/emqx_auth_pgsql.conf"
                docker exec -i tests_erlang_1 sh -c "echo /emqx_auth_pgsql/etc/emqx_auth_pgsql.conf"
                
                docker exec -i tests_erlang_1 sh -c "make -C /emqx_auth_pgsql xref"
                docker exec -i tests_erlang_1 sh -c "make -C /emqx_auth_pgsql eunit"
                docker exec -i tests_erlang_1 sh -c "make -C /emqx_auth_pgsql ct"
                docker exec -i tests_erlang_1 sh -c "make -C /emqx_auth_pgsql cover"
            - uses: actions/upload-artifact@v1
              if: always()
              with:
                name: logs
                path: _build/test/logs
            - uses: actions/upload-artifact@v1
              with:
                name: cover
                path: _build/test/cover

